/* HEADER */
header
{
    width: 100%;
    height: 70px;

    font-weight: bold;

    background-color:rgb(245, 149, 60);
    border-bottom: solid black 5px;
    
    margin-bottom: 60px;
}
#logo
{
    float: left;
    height: 70px;
}
#logo > img
{
    width: 35px;
    height: 35px;
    margin: 15px;

    float: left;

    border: 2px black solid;
    border-radius: 100px;
}
#logo > h1
{
    padding-top: 20px;
    padding-right: 10px;
    width: 300px;
    font-size: 22px;
    border-bottom: black 2px solid;
    border-right: black 2px solid;
}
#logo > h2
{
    font-size: 12px;

    padding-bottom: 18px;
    padding-left: 10px;

    border-right: black 2px solid;
}
nav
{
    line-height: 40px;

    float: left;
}
a
{
    float: left;
    color: black;
    text-align: center;
    padding: 14px 15px 16px 15px;
    text-decoration: none;

    font-size: 17px;
}
nav a.active
{
    background-color: brown;
}
/* BODY */
#myCanvas
{
    display: block;
    margin: 0px auto;

    width: 80%;
    height: 520px;

    border: darkgrey 5px ridge;
    border-radius: 10px;

    /* background: silver; */
}
main > h4
{
    position: absolute;
    margin: 20px;
    
    font-family: sans-serif;

}